.root {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
} 

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

h1 {
    margin: 0;
}

.home-page {
    background-image: url('./images/alexey-malakhov-LZVkAbIw74Q-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100dvh;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
}

.home-page h1 {
    position: absolute;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
} 


